.Navi{
    background-color: #ff9900;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
}

.bodycss{
    background-color: #2e383f;
    color: #ffffff;
    font-size: 16px;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
}

.navcontainer{
    padding-top: 5px;
    padding-bottom: 5px;
}

.bodycontainer{
    padding-top: 40px;
    padding-bottom: 50px
}
